body {
    background-color: #FFFFFF;
    font-family: sans-serif;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.nav-logo {
    font-family: serif;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    border: 1px solid #0000FF;
    color: #0000FF;
    margin-left: 1rem;
    padding: .5rem;
}

.nav-list-item:hover {
    background-color: #0000FF;
    color: #FFFFFF;
}

.main {
    background-color: #EEEEEE;
    margin: 1rem;
    padding: 1rem;
}

@media (max-width: 361px) {
  .nav-list {
    display: block;
    background-color: #0000FF;
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;
    transition: left 0.5s;
  }
  .nav-list-item {
    color: #FFFFFF;
    padding: 1rem;
    font-size: 3rem;
  }
  .nav-logo {
    font-size: 5em;
  }
  .nav-logo:hover+.nav-list {
    left: 0;
  }
}
